




<div class="clearfix">  
  <label class="control-label col-sm-4" for="questionName" style="padding-right: 0px">
    <h4 class="pull-right"><i class="glyphicon glyphicon-question-sign"></i>&nbsp;&nbsp;Question name:</h4>
  </label>
  <div style="margin-bottom: 10px; padding-top:7px;padding-left: 5px;" class="col-sm-8">
      <input class="form-control" type="text" id="questionName" ng-model="currentlySelectedBranch.label" />
  </div>
</div>


<div class="clearfix">
<div class="well">

  <div ng-show="question.questionType.currentQuestionType == question.questionType.NONE">
    <!-- Button to trigger a default dropdown with a scope as an object [{title:'', content:'', etc.}] -->
    <button type="button" class="btn btn-md btn-default" data-animation="am-fade" bs-dropdown="dropdown">
      Question Type &nbsp;<i class="glyphicon glyphicon-chevron-down"></i>
    </button>
  </div>

<!-- multiple choice form -->
  <form class="form-horizontal" ng-show="question.questionType.currentQuestionType == question.questionType.MULTIPLE_CHOICE">

    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group pull-right">
        <button 
          type="button" 
          class="btn btn-danger" 
          ng-click="cancelQuestionType()" 
          ng-show="question.quid == 0">
          < Back
          </button>  
        <button type="button" class="btn btn-success" ng-click="saveQuestion()">Save</button>
      </div>
    </div>
    
    <hr />
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="comment">Question Text:</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="3" id="question-text" ng-model="question.text"></textarea>
      </div>
    </div>

  	<div class="form-group">
    	<label class="col-sm-2 control-label" for="marks">Marks:</label>
    	<div class="col-sm-2">
    	  <div class="input-group">
    	    <input class="form-control" type="number" id="marks" value="" ng-model="question.marks" />
    	  </div>
    	</div>
  	</div>

  	<div class="form-group">
    	<div class="col-sm-2 col-sm-offset-2">
    	  <div class="checkbox">
    	    <label >
    	      <input type="checkbox" id="shuffle" />
    	      Shuffle
    	    </label>
    	  </div>
    	</div>
  	</div>

    <div ng-hide="question.options.length == 0">
    <table class="table table-striped">
      <thead> 
        <tr>  
          <th>Option Text</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="option in question.options">
          <td class="col-sm-10">{{option.Text}}</td>
          <td class="col-sm-2"><input class="form-control" type="number" ng-model="option.Score" /></td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="add">Answers:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control" type="text" id="add" value="" ng-model="question.answerText"/>
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click="addAnswer(question.answerText)">Add</button>
          </span>
        </div>
      </div>
    </div>

<!--   	<div class="form-group">
  		<div class="col-sm-10 col-sm-offset-2">
  		  <input class="btn btn-info" type="submit" value="Add Answer" ng-click="addQuestion()" />
  		</div>
  	</div> -->
  
  </form> 
</div><!-- end well -->
</div>